.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.home { 
    background: url(images/YLOY-Main-Banner.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.services {
    background: url(images/YLOY-large-format.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.designer {
    background: url(images/YLOY-Screen-Print.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

.nav-wrapper {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: #96673a;
}

nav {
    height: 78px;
}

#nav-logo {
    margin-top: 20px;
}

.nav-services {
    height: 78px;
}

#banner-text {
    margin-bottom: 11%;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    color: #96673a;
}

.card-panel {
    padding: 30px;
    margin-top: 23%;
    font-size: 25px;
    font-family: 'Fira Sans', sans-serif, bold;
    background-color: #c9a15f;
}

#card-logo {
    height: 300px
}

#services-card {
    padding: 30px;
    margin-top: 7%;
    font-size: 20px;
    font-family: 'Fira Sans', sans-serif, bold;
    background-color: #c9a15f;
    opacity: 100%;
    text-align: center;
    width: 75%;
    margin-left: 12%; 
}

hr {
    border: 1px solid white;
    width: 50%;
}

.services-text {
    font-size: 15px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

#info-div {
    display: flex;
    margin-left: 12%;
}

.shirts-card {
    background-color: #3c3c3c;
    justify-content: center;
    align-items: center;
}

.shirts-card-title {
    color: #c9a15f;
}

footer {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    background-color: #96673a
}

.page-footer {
    background-color: #3c3c3c
}

#email {
    margin-left: 25%;
}